Assignment/MATH285_21_ex01.pdf
Assignment/MATH285_21_ex02.pdf
Assignment/MATH285_21_ex03.pdf
Assignment/MATH285_21_ex04.pdf
Assignment/MATH285_21_ex05.pdf
Assignment/MATH285_21_ex06.pdf
Assignment/MATH285_21_ex07.pdf
Assignment/MATH285_21_ex08.pdf
Exam/vv285_21_exam1_sol.pdf
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.aux
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.fdb_latexmk
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.fls
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.log
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.pdf
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.synctex.gz
OutcomeQuiz/OutcomeQuiz2/OutcomeQuiz2.tex
Translation/MATH285_course_description_2021.aux
Translation/MATH285_course_description_2021.bcf
Translation/MATH285_course_description_2021.fdb_latexmk
Translation/MATH285_course_description_2021.fls
Translation/MATH285_course_description_2021.log
Translation/MATH285_course_description_2021.out
Translation/MATH285_course_description_2021.pdf
Translation/MATH285_course_description_2021.run.xml
Translation/MATH285_course_description_2021.synctex.gz
Translation/MATH285_course_description_2021.tex
vv285_21_exam2_sol.pdf
Assignment/MATH285_21_ex09.pdf
Assignment/MATH285_21_ex10.pdf
